{
    "op": [
        {
            "username": "{{GALENE_OPERATOR}}",
            "password": "{{GALENE_OP_PWD}}"
        }
    ],
    "presenter": [
        {}
    ],
    "codecs": [
        "vp8", "opus"
    ],
    "public": {{GROUP_PUBLIC}},
    "displayName": "{{GROUP_DISPLAYNAME}}",
    "description": "{{GROUP_DESCRIPTION}}",
    "contact": "{{GROUP_CONTACT}}",
    "comment": "{{GROUP_COMMENT}}",
    "max-clients": {{GROUP_MAX_CLIENTS}},
    "allow-recording": {{GROUP_ALLOW_RECORDING}},
    "allow-anonymous": {{GROUP_ALLOW_ANONYMOUS}},
    "allow-subgroups": {{GROUP_ALLOW_SUBGROUPS}},
    "autolock": {{GROUP_AUTOLOCK}},
    "autokick": {{GROUP_AUTOKICK}}
}
