.idea
.tox
.DS_Store
._.DS_Store
.coverage
.vagrant
.cache
.coveralls.yml
.mypy_cache
.venv
*,cover

sandbox
instance
node_modules
env
tmp
dist
build
_build


*.pyc
*.egg
*.egg-info
*.swp
*.prof
*.stats
*.mo
*-orig
*.orig

/.eggs/
