<!doctype html>
<html>
<head>
  <!-- Nua -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <!-- a17t -->
  <script src=" https://cdn.jsdelivr.net/npm/a17t@0.10.1/src/a17t.min.js "></script>
  <link href=" https://cdn.jsdelivr.net/npm/a17t@0.10.1/dist/a17t.min.css " rel="stylesheet">
</head>

<body>
{% include "_header.html" %}

{% block content %}
{% endblock %}

{% include "_footer.html" %}

</body>
</html>
