<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample app</title>
</head>
<body>
    <h1>{{env.TITLE}}</h1>
    <p>
        metadata ID {{metadata.id}}
    </p>
    <p>
        external IP {{env.MY_IP}}
    </p>
    <p>
        domain {{env.DOMAIN}}
    </p>
    <p>
        WWW_DIR {{env.WWW_DIR}}
    </p>
</body>
</html>
