<!doctype html>
<html>
    <head>
        <title>File Upload</title>
    </head>
    <body>
        <h1>File Upload on container tmpfs</h1>
        <p>Mounted upload path: {{upload}}</p>
        <form method="POST" action="" enctype="multipart/form-data">
            <p>
                <input type="file" name="file">
            </p>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>
        <hr>
        <ul> {% for file in files %} <a>
                <li>
                    <a href="{{ url_for('upload', filename=file) }}"> {{file}}
                    </a>
              </li>
              {% endfor %}
        </ul>
    </body>
</html>
