{
  "production": {
    "allowAnonymous": false,
    "allowAnonymousEdits": true,
    "allowEmailRegister": false,
    "allowFreeUrl": true,
    "allowPdfExport": false,
    "debug": false,
    "defaultPermission": "private",
    "email": false,
    "imageUploadType": "filesystem",
  }
}
