# Coturn TURN SERVER configuration file

# simplified configuration for galene

listening-port={{LISTEN_PORT}}
fingerprint
lt-cred-mech
user={{env.GALENE_USER}}:{{GALENE_PW}}
server-name={{DOMAIN}}
realm={{REALM}}
#external-ip=
