<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample app</title>
</head>
<body>
    <h1>{{TITLE}}</h1>
    <p>
        metadata ID {{id}}
    </p>
    <p>
        external IP {{MY_IP}}
    </p>
    <p>
        domain {{DOMAIN}}
    </p>
    <p>
        WWW_DIR {{WWW_DIR}}
    </p>
</body>
</html>
